@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


::selection {
    background-color: black;
    color: white;
}

body {
    font-family: 'Nunito',
        sans-serif;
    overflow-x: hidden;
}

.brand {
    font-family: 'Fredoka One',
        cursive;
}


#btnNav.up {
    transform: rotate(180deg);
}

.nav.appear {
    transform: scale(100);
    opacity: 1;
    transform: translateY(10px);
}

.jumbotron .img {
    transform: rotate(-5deg) !important;
}


#particles-js {
    background-size: cover;
}

.particles-js-canvas-el {
    position: absolute;
    height: 140vh !important;

}

.project {
    margin-top: 300px;
}

.swiper-container {
    min-width: 100%;
    height: 400px;
    padding: 50px;
    margin: auto;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    margin-left: 50px;
    overflow: hidden;
    border-radius: 20px;
    transition: .3s !important;
    opacity: .9;
}

.swiper-slide:hover {
    box-shadow: 0px 3px 9px 2px rgba(0, 0, 0, .2) !important;
    transform: translate(0, -5px) !important;
    opacity: 1;
}

.swiper-slide a i {
    opacity: .8;
}

.swiper-slide a:hover i {
    text-shadow: 0 0 6px rgba(255, 255, 255, .4);
    transition: .3s ease;
}

.project h4 {
    font-family: 'Fredoka One',
        cursive;
}

/* end */

/* animation */

.skill {
    transform: translate(10px, 0);
}

.skill.muncul {
    opacity: 1;
    transition: .3s;
    transform: none;
}

/* end */

/* social media */


/* --- */
.fa-npm {
    width: 4.4rem;
    height: 4.4rem;
}

@media (min-width: 768px) {
    .fa-sort-down {
        display: none;
    }

    .nav {
        transform: none;
        transform: translateY(18px);
    }

}